/* Solo trabaja styles en conjunto 

Selector universal*/
* {
  margin: 0px;
  /*Agregando tipo grafia*/
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}